/*  Variables */
$color-primary 		: #0088cc;
$color-black 		: #272727;
$color-white 		: #ffffff;

$color-success 		: #377f31; // Green
$color-danger 		: #880e14; // Red
$color-warning 		: #dba909; // Yellow
$color-code 		: #dd1144;

$color-gray-dark 	: #808080;
$color-gray-light 	: #e5e5e5;

$icon-size 			: 1.75em;

.simple-sharing-buttons {
	margin-bottom: 1.5em;
}

.pre-btn-text {
	margin-right: 1em;
}



// Buttons

.ssbtn {
	background-color: $color-primary;
	color 			: $color-white;
	display 		: inline-block;
	font-size 		: 1em;
	font-weight 	: normal;
	margin-bottom 	: 0.5em;
	margin-right 	: 0.5em;
	min-width 		: 2.75em;
	text-align 		: center;
	text-decoration : none;
	transition 		: 0.4s ease;
	vertical-align 	: middle;

	&:hover,
	a &:hover,
	&.active {
		background-color 	: darken( $color-primary, 15% );
		border-color 		: darken( $color-primary, 15% );
		color 				: $color-white;
	}

	&:hover {
		> svg {
			filter: drop-shadow(0px 0px 4px $color-white);
		}
	}

	svg {
		fill 		: $color-white;
		float 		: left;
		height 		: $icon-size;
		margin 		: 0.5em;
		transition 	: all 0.3s ease;
		width 		: $icon-size;
	}

	.btn-text {
		display: block;
		padding: 0.5em;
	}

	&:active,
	&:focus,
	&:hover,
	&:visited {
		outline: 0;
	}
}

$networks: 'buffer' #1E2225, 'delicious' #3399ff, 'digg' #000, 'email' #0088cc, 'facebook' #3b5997, 'google' #d64937, 'linkedin' #0073b2, 'pinterest' #cb2027, 'reddit' #ff5700, 'stumbleupon' #eb4924, 'tumblr' #35465c, 'twitter' #41b7d8, 'vk' #5e82a8, 'xing' #175e60;

@each $network in $networks {
	$prop: nth($network, 1);
	$color: nth($network, 2);

	.btn-#{$prop} {
		background-color: $color;
		border-color 	: $color;

		&:hover,
		a &:hover {
			background-color: darken( $color, 15% );
			border-color 	: darken( $color, 15% );
		}
	}
}

.btn-wrap {
	display 	: inline-block;
	margin 		: 0 4px;
	position 	: relative;

	input[type="checkbox"] {
		bottom 		: 0;
		cursor 		: pointer;
		height 		: 100%;
		left 		: 0;
		margin 		: 0;
		opacity 	: 0;
		position 	: absolute;
		right 		: 0;
		top 		: 0;
		width 		: 100%;
		z-index 	: 100;

		&:checked {
			~ label {
				opacity: 1;
			}
		}
	}

	label {
		color 	: $color-white;
		opacity : 0.5;
	}
}